* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

.aboutPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.menuPage {
    height: 100vh;
    overflow: hidden;
    background-color: #FFFFFF;
}

.navBar {
    width: 100vw;
    height: 60px;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
}

.imageWrapper {
    width: 10%;
    display: flex;
    justify-content: center;
}

.imageLogo {
    width: 60%;
    height: auto;
}

.profile {
    margin-left: auto;
    width: 20%;
    margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60px;
}

.profile span {
    color: #000000;
    font-size: 14px;
}

.profile button {
    border: none;
    font-size: 0.9rem;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.signInButton {
    background-color: #725e54;
    color: #FFFFFF;
    transition: background-color 0.2s ease;
}

.signInButton:hover {
    background-color: #443627;
}

.signUpButton {
    background-color: #FFFFFF;
    color: #000000;
    transition: background-color 0.2s ease;
}

.signUpButton:hover {
    background-color: #f5f5f5;
}

.divider {
    border: 0.7px solid rgba(0, 0, 0, 0.07);
    height: 30px;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.wrapper .header {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 16px;
    max-width: 600px;
}

.wrapper .description {
    max-width: 800px;
    color: #666;
    line-height: 1.6;
    font-size: 1.2rem;
}
